.memberLarge {
  text-align: center;
}

.memberLarge > div {
  max-width: 400px;
  display: inline-block;
  text-align: left;
}

.memberButtons a {
  color: var(--ifm-color-emphasis-700);
}

.memberButtons  .website {
  padding: 0.25rem;
}

.memberButtons  a:hover {
  text-decoration: none;
}
