
.emptyiteam{
  /* border:2px solid violet; */
}
.toolsContainer{
  /* border:5px solid blue; */
  max-width: 1400px;  /* Adjust width for better alignment */
  margin: 40px auto;  /* Keep it centered */
  padding: 20px 20px;
}

.card{
  /* border:5px solid orange; */
  display: flex;
  /* flex-direction: row; */

  grid-template-columns: 1fr;  /* Ensure proper spacing */
  gap: 5px;
  /* Reduce left padding instead of margin */
  max-width: 95%; 
  width:100%;
/* margin-left: 10px; */
  grid-template-columns: repeat(1, 1fr);  gap: 10px;
}
@media screen and (max-width: 550px) {
  .card{
    padding-left: 0;
    margin-left:0;
  
  }}

.toolCard {

  /* border:2px solid red; */
  margin-bottom: 20px; 
  /* Add some spacing between cards */
  padding: 15px; 
  border-radius: 8px; /* Optional: Rounded corners */
}
.toolImageContainer{
  /* border:5px solid green; */
  width: 100%; /* Ensure full width within the parent container */
  max-width: 120px; /* Adjust to your preference */
  height: 100%; /* Set a consistent height */
}
.toolImageContainer> img{
  width:100%;
  height:100%;
  
    }
.toolContentContainer{
  display: flex;
  flex-direction:row;
  /* border:5px solid violet; */
  /* margin-left: 20px; */
  /* flex-wrap: wrap; */

  /* padding: 15px;  */
  /* border:2px solid blue; */
  width:100%;
    /* justify-content: space-between; */
}

.toolsHeader {
  /* border:2px solid red; */
  background-color: var(--ifm-color-emphasis-200);
  padding-bottom: 1rem !important;
}

.toolsHeader h4 {
  font-size: var(--ifm-h3-font-size);
}
.toolImage {
  /* max-width: 100%; */
  /* height: auto; */
  /* border-radius: 8px; */
   /* Optional: Image corners */
}

.toolContent {
  /* border:2px solid rgb(128, 0, 126); */

  /* flex: 1; */
  display :flex; 
  flex-direction: row;
  padding-left: 20px; /* Add space between image and content */
}
.cards{
  /* border:5px solid orange; */
  margin-left: 20px;
  margin-bottom: 30px;
  display:flex; 
  flex-direction: row;
}@media screen and (max-width: 550px) {
  .cards{
    margin-left:0;
  
  }}
.toolbox{
  /* border:5px solid green; */
  display :flex; 
  /* padding:var(--ifm-card-vertical-spacing) var(--ifm-card-horizontal-spacing); */
margin-top:0;
  flex-direction: row;
  flex-wrap: wrap;
width:100%;
  /* padding:var(--ifm-card-vertical-spacing) var(--ifm-card-horizontal-spacing); */
  /* justify-content: space-between; */
/* width:100%; */

}

  .floatButtons {
    float: right;
    margin-left: 1em;
  }

.name{
  /* padding-left:20px; */
  width:82%;
/* border:2px solid rgb(25, 0, 255); */
/* gap:50; */
/* Pushes the text to the left */

}
.cardbody{

  /* display: flex; */
  /* flex-direction :row; */
  /* border:5px solid violet; */
  /* padding-left:50px; */
  /* margin-top: 0; */
  width:100%;
}
.toolCreator{
  /* border:2px solid gray; */
  margin-bottom: 0;
  }